*{
    padding: 0;
    margin: 0;
    
}
#divao{
    width: 100%;
    height: 655px;
    background: url(moble/car.jpg) no-repeat;
    background-size: 100% 100%;
}
#preto{
    width: 100%;
    height: 655px;
    background-color: rgba(0, 0, 0, 0.397);
}
#regiao{
    padding-top: 20px;
    float: left;
     width: 40%;
    height: 150px;
}
#regiao h1{
    margin: 10px 0 0 150px;
    color: #003cff;
    font-weight: 1000;
    font-family: sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #01030c;
}
#regiao span{
    color: #3c2bd8;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #01030c;
}
#icone{
    margin-top: 30px;
    float: right;
    width: 60%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.349);
    background: url(foto/RankedModal_Icon_Call_of_the_Mountain_gold.png) no-repeat;
    background-size: 100px;
}
#esquerdo{
    margin-top: -36px;
    float: left;
    width: 55%;
    height: 400px;   
}
#esquerdo h1{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #003cff;
    color: #000000;
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 30px;
    font-weight: 900;
}
#esquerdo p{
    padding-left: 50px;
    text-align: left;
    font-size: 14pt;
    line-height: 1.2;
    margin-bottom: 15px;
    color: rgb(220, 214, 238);
}
#direito{ 
    overflow: visible;
    margin-top: -75px;
    float: right;
    width: 40%;
    height: 550px;
    position: relative;
    background: url(foto/ryz.png) no-repeat;  
    background-size: 100% 100%;  
    animation: example 10s infinite ease-in-out alternate;
}
@keyframes example {
    0%{transform: rotateY(-15deg); rotateX:-15deg;}
    50%{transform: rotateY(15deg);rotateX:15deg;}
    75%{transform: rotateY(-25deg);rotateX:-25deg;}
    100%{transform: rotateY(25deg);rotateX:25deg;}
}
#menu{
    position: absolute; 
    margin: auto;
    width: 80%;
    left: 150px;
    bottom: 20px;
}
#menu ul{
    text-align: center;
}
#menu li{
    padding: 10px;
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    margin: 0px 0px 0 30px;
    font-weight: 1000;
    position: inherit;
    border-radius: 3px;
}
#menu li:hover{
    
    transition:1.5s;
    padding: 10px;
    background: rgb(255, 255, 255);
    color: #003cff;
    font-weight: 1000;
    animation: rotateY(360deg);
    border-radius: 5px;
}

@media (min-width:300px) and (max-width: 1000px) {
    /* o brackground*/
    #divao{
        min-width: 100%;
        min-height: 1750px;
        background: url(moble/ryze.jpg) no-repeat;
        background-size: 100% 100%;
    }
    #preto{
        width: 100%;
        height: 1750px;
        background-color: rgba(0, 0, 0, 0.548);
    }
    /*regiao*/
    #regiao{
        padding-top: 20px;
        float: left;
         width: 40%;
        height: 150px;
    }
    #regiao h1{
        margin: 10px 0 10px 150px;
        color: #0048ce;
        font-weight: 1000;
        font-size: 40pt;
    }
    #regiao span{
        padding-bottom: 30px;
        color: #5688b6;
    }
    #icone{
        margin-top: 30px;
        float: right;
        width: 40%;
        height: 150px;
        background-color: rgba(0, 0, 0, 0.945);
        background: url(foto/RankedModal_Icon_Call_of_the_Mountain_gold.png) no-repeat;
        background-size: 100px;
    }
    /*o texto*/
    #esquerdo{
        float: left;
        width: 100%;  
    }
    #esquerdo h1{
        font-size: 90pt;
        color: #0F47FD;
        text-align: center;
        padding-bottom: 30px;
    }
    #esquerdo p{
        padding-left: 40px;
        text-align: left;
        font-size: 29pt;
        line-height: 1.2;
        margin-bottom: 15px;
        color: rgb(220, 214, 238);
    }
    #direito{
        display: none;
    }
    #menu{
        z-index: 12; 
        width: 100%;
        left: 0px;
        bottom: 50px;
    }
    #menu ul{
        text-align: center;
    }
    #menu li{
        padding: 30px 15px;
        display: inline-block;
        color: #ffffff;
        font-size: 30pt;
        margin: 0 0 0 0;
        font-weight: 1000;
        position: inherit;
        border-radius: 3px;
    }
}