*{
    margin: 0;
    padding: 0;
}
#divao{
    position: relative;
    width: 100%;
}
#myvideo{
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: -50px;
    min-width: 100%;
    min-height: 100%;
}
#q{
    margin-top: -10px;
    z-index: 12;
    position: fixed;
    width: 100%;
    height: 700px;
    background: rgba(0, 0, 0, 0.336);
}
#desem{
    color: white;
    text-align: right;
    margin-top: 10px;
    width: 99%;
    height: 100px;
    position: relative;
    z-index: 12; 
}
#desem span{
    font-family: sans-serif;
    padding-left: 3px;
    color: #3700ff;
    font-weight: unset;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000742;
}
#ryze{
    margin: auto;
    width: 85%;
    height: 450px;
    position: relative;
    z-index: 12; 
}
#es{
    float: left;
    width: 60%;
}
#dir{
    margin-top: 30px;
    float: right;
    width: 20%;
}
#es h1{
    font-family: sans-serif;
    color: #000000;
    font-size: 55pt;
    padding-top: 10px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #003cff;
}
#es h2{
    font-family: sans-serif;
    color: #000000;
    font-size: 45pt;
    padding-top: 0px;
    font-weight: 500;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #003cff;
}
#es p{
    color: #ffffff;
    font-size: 20pt;
    padding-top: 15px;
    font-weight: 500;
}
#es button{
    font-size: 14pt;
    text-align: left;
    overflow: hidden;
    margin-top: 30px;
    border: none;
    background-color: #003cff;
    padding: 30px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 1000;
    width: 255px;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-delay: -2s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%   {width: 255px;}
    50%  {width: 300px;}
    
  }
#es button:hover{
    background-color: white;
    color: #003cff;
    font-weight: 1000;
    cursor: pointer;
    border: 3px 3px 3px blue;
}
#es span{
    float: right;
    color: #031f7a;
}
#dir img{
    display: block;
    margin: auto;
    width: 150px;
}
#dir h1{
    text-align: center;
    color: white;
}
#difi{
    margin: 20px 30px 20px 30px;
}
#difi span{
    float: left;
    margin: 10px 5px;
    display: block;
    width: 37px;
    height: 38px;
    background: #007ef5;
    box-shadow: 0 0 15px rgb(17, 0, 255) ;
    transition: 0.5s ease-in-out;
    transform: skewX(-25deg);
}
#dir h2{
    text-align: center;
    color: rgb(240, 240, 240);
}
#menu{
    position: absolute;
    z-index: 12; 
    float: none;
    margin: auto;
    width: 80%;
    left: 150px;
}
#menu ul{
    text-align: center;
}
#menu li{
    padding: 10px;
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    margin: 0px 0px 0 30px;
    font-weight: 1000;
    position: inherit;
    border-radius: 3px;
}
#menu li:hover{
    
    transition:1.5s;
    padding: 10px;
    background: rgb(255, 255, 255);
    color: #003cff;
    font-weight: 1000;
    animation: rotateY(360deg);
    border-radius: 5px;
}
@media (min-width:400px) and (max-width: 1000px) {
    /*O video*/
    #myvideo{
        z-index: 1;
        margin-left: 30px;
        min-width: 100%;
        min-height: 110%;
        right: -250px;
    }
    /*O preto com opacidade*/
    #q{
        margin-top: -10px;
        z-index: 12;
        position: fixed;
        width: 100%;
        height: 1800px;
        background: rgba(0, 0, 0, 0.336);
    }
    /*O desemvolvido*/
    #desem{
        color: white;
        text-align: right;
        margin-top: 10px;
        width: 99%;
        height: 100px;
        position: relative;
        z-index: 12; 
        font-size: 30pt;
    }
    #desem span{
        font-family: sans-serif;
        padding-left: 3px;
        color: #3700ff;
        font-weight: unset;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000742;
    }
    /*o meio*/
    #ryze{
        margin: auto;
        width: 85%;
        height: 1050px;
        position: relative;
        z-index: 12; 
    }
    /*dentro do meio, o de cima*/
    #es{
        float: none;
        width: 90%;
    }
    #es h1{
        text-align: center;
        color: #003cff;
        font-size: 120pt;
        padding-top: 10px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #869eeb;
    }
    #es h2{
        text-align: center;
        color: #003cff;
        font-size: 80pt;
        padding-top: 0px;
        font-weight: 900;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #869eeb;
    }
    #es p{
        color: #ffffff;
        font-size: 60pt;
        padding-top: 15px;
        font-weight: 500;
    }
    #es button{
        font-size: 40pt;
        text-align: left;
        overflow: hidden;
        margin-top: 30px;
        border-radius: 20px;
        background-color: #003cff;
        padding: 50px 30px;
        color: white;
        font-weight: 1000;
        width: auto;
        position: relative;
        animation: example 3s infinite ease-in-out alternate;
    }
    @keyframes example {
        0%   {width: 600px;}
        100%  {width: 700px;}
    }
    /* dentro do meio o de baixo*/
    #dir{
        background-color: black;
        margin-top: 30px;
        float: none;
        width: 100%;
    }
    #im{
        float: left;
        width: 50%;
        height: 300px;
    }
    #dir img{
        width: 250px;
    }
    #dir h1{
        font-size: 50px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    /*dificuldade*/
    #difi{
        float: right;
        margin: 100px 30px 20px 30px;
    }
    #difi span{
        padding-left: 30px;
        float: left;
        margin: 30px 9px;
        display: block;
        width: 70px;
        height: 70px;
        background: #007ef5;
        box-shadow: 0 0 15px rgb(17, 0, 255) ;
        transition: 0.5s ease-in-out;
        transform: skewX(-25deg);
    }
    #dir h2{
        font-size: 50px;
        text-align: center;
        color: rgb(240, 240, 240);
    }
     /*Menu*/
    #menu{
        z-index: 12; 
        width: 100%;
        left: -30px;
        bottom: -500px;
    }
    #menu ul{
        text-align: center;
    }
    #menu li{

        padding: 10px;
        display: inline-block;
        color: #ffffff;
        font-size: 30pt;
        margin: 0px 0px 0 30px;
        font-weight: 1000;
        position: inherit;
        border-radius: 3px;
    }
}