*{
    padding: 0px;
    margin: 0px;
}
#divao{
    background: rgb(0, 0, 0);
    width: 100%;
    height: 655px;
}
#so{
    float: right;
    width: 70%;
    height: 100%;
}
#so img{
    margin-left: -248px;
    width: 1200px;
    height: 655px;
}
#skins{
    position: relative;
    z-index: 54;
    float: left;
    width: 30%;
    height: 655px;
    background: rgba(0, 68, 255, 0.377);
}
#skins img:hover{
    border: #4d99e0 5px inset;
    width: 95%;
    height: 90%;
}
#skins li{
    cursor: pointer;
    overflow: hidden;
    padding: 15px 20px 0px 10px;
    float: left;
    width: 41%;
    height: 90px;
}
#skins img{
    border-radius: 0 10px 10px 0;
    width: 100%;
    height: 100%;
}

#menu{
    position: absolute; 
    margin: auto;
    width: 80%;
    left: 250px;
    bottom: 20px;
}
#menu ul{
    text-align: center;
}
#menu li{
    border-bottom: rgb(75, 75, 228) 2px solid;
    padding: 10px;
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    margin: 0px 0px 0 30px;
    font-weight: 1000;
    position: inherit;
    border-radius: 3px;
}
#menu li:hover{
    transition:1.5s;
    padding: 10px;
    background: rgb(255, 255, 255);
    color: #003cff;
    font-weight: 1000;
    animation: rotateY(360deg);
    border-radius: 5px;
}
#nome{
    color: #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    background: rgba(18, 31, 156, 0.603);
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 10px;
}



@media (min-width:300px) and (max-width: 1000px){
    #divao{
        background:url(foto/ryze-classic.png) no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 645px;
    }
    #so{
        float: left;
        width: 100%;
        height: 100px;
    }
    #so img{
        margin-left: 0;
        max-width: 100%;
        height: 250px;
    }
    /*skins*/
    #skins{
        float: left;
        width: 100%;
        height: 300px;
        background: rgba(0, 68, 255, 0);
    }
    #skins img:hover{
        border: #4d99e0 3px inset;
        width: 95%;
        height: 90%;
    }
    #skis ul{
        width: 100%;
        height: 200px;
    }
    #skins li{
        margin: 0px;
        cursor: pointer;
        overflow: hidden;
        padding: 10px 0px 0px 5px;
        float: left;
        width: 31%;
        height: 50px;
    }
    #skins img{
        border-radius: 0 10px 10px 0;
        width: 100%;
        height: 100%;
    }
    /*MENU*/
    #dir{
        overflow: hidden;
        margin: auto auto;
        float: none;
        width: 90%;
        height: 250px;
    }
    #dir video{
        width: 100%;
        border-radius: 18px;
    }
    #menu{
        z-index: 12; 
        width: 100%;
        left: 0px;
        bottom: 0px;
    }
    #menu ul{
        text-align: center;
    }
    #menu li{
        padding: 30px 5px;
        display: inline-block;
        color: #ffffff;
        font-size: 12pt;
        margin: 0 0 0 0;
        font-weight: 1000;
        position: relative;
        border-radius: 3px;
    }
    #nome{
        font-weight: bolder;
        font-size: 9pt;
        color: #ffffff;
        border-radius: 20px;
        padding: 10px 20px;
        background: rgba(1, 7, 14, 0.493);
        position: absolute;
        z-index: 130;
        right: 30px;
        top: 250px;
    }
}